.ecoatm .content ol li, .content ul li {
	padding-left: 0px !important;
}
.ecoatm .opacity-box ol {
	margin-left: 15px;
}

.margin-box {
	margin-bottom: 15px;
	overflow: hidden;
}

.margin-box img {
	max-width: 100%;
}
.ecoatm .margin-box.colored {
	background: #55bfc9;
}
.ecoatm .img-box.dc {
	text-align: center;
	background: #55bfc9;
}
.img-box.dc.ecoatm-main {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.mt-2{
   margin-top: 10px;
}
.mb-2{
   margin-bottom: 10px;
}
.opacity-box ol li {
	padding: 0;
	margin-top: 12px;
	text-align: justify;
	color: #000;
}